/* 
 * Basic colors;
 *
 * #284177
 * #006bbd
 * #80c8ee
 * #ede8e4
 * #c2afa8
 */
:root {
    --font-family: 'Helvetica';
    --font-size: 14px;
    --color: #284177;
    --background: linear-gradient(#80c8ee, #ede8e4);
    --button-color: #006bbd;
    --button-background: linear-gradient(#ede8e4, #80c8ee);
    --button-toggled-background: linear-gradient(#80c8ee, #ede8e4);
    --border-color: rgba(0,0,0,.15);
    --border-radius: .5rem;
    --anchor-color: #006bbd;
    --anchor-hover-color: #284177;
    --anchor-active-color: #284177;
    --shadow-color: #284177;

    --form-element-background-color: #80c8ee;
    --form-element-active-background: #8bd4fa;
    --form-element-color: #284177;

    --form-element-disabled-background-color: #c6773f;
    --form-element-disabled-color: #66667c;
    --form-element-padding: .5rem;
    --placeholder-color: #909090;

    --success-background: linear-gradient(#efe,#dfd);
    --warning-background: linear-gradient(#fee,#fdd);
    --max-viewport-width: 1280px;
    --table-striped-background: rgba(0,0,0,.03);
    --table-selected-background: rgba(0,0,0,.15);
    --table-hover-background: rgba(0,0,0,.07);
}


pre, code {
    color: #006bbd;
    background: #c2afa8;
}
code {
    border-radius: 2px;
}

input:not([type=radio]):not([type=checkbox]),
select, textarea, button {
    padding-left: 20px;
    padding-right: 20px;
}

.strip>label {
    color: #555555;
}

.micro-widgets-modal-content {
    background: linear-gradient(#80c8ee, #ede8e4);
}

.bg {
    background: linear-gradient(#80c8ee, #ede8e4);
}

.micro-widgets-tab-buttons button {
}

.micro-widgets-tree li.tree-item {
    padding-left: .67rem;
}
.micro-widgets-tree a.tree-item-label {
    background-image: none;
}
.micro-widgets-tree li.tree-expanded>ul.tree-item-children>li.tree-item, 
.micro-widgets-tree>ul.tree-item-children>li.tree-item>ul.tree-item-children li.tree-expanded {
    background-image: none;
}
.micro-widgets-tree li.tree-expanded>ul.tree-item-children>li.tree-item:last-child, 
.micro-widgets-tree>ul.tree-item-children>li.tree-item>ul.tree-item-children li.tree-expanded:last-child {
    background-image: none;
}

