:root {
    --font-family: 'Helvetica';
    --font-size: 13px;
    --background: #bbcedd;
    --color: #385858;
    --form-el-color: #9bb7ce;
    --form-el-bg: #617380;
    --form-el-active-bg: #384858;
    --form-el-dis-bg: #555555;
    --button-color: #9bb7ce;
    --button-bg: linear-gradient(#617380, #384858);
    --button-toggled-bg: linear-gradient(#384858, #617380);
    --border-color: #617380;
    --border-radius: .5rem;
    --anchor-color: #384858;
    --anchor-hover-color: #617380;
    --anchor-active-color: #888888;
    --form-el-pad: .5rem;
    --placeholder-color: #a0a0a0;
    --shadow-color: #617380;

    --success-bg: linear-gradient(#efe,#afa);
    --warning-bg: linear-gradient(#fee,#fcc);
    --table-striped-bg: rgba(0,0,0,.05);
    --table-selected-bg: rgba(0,0,0,.1);
    --table-hover-bg: rgba(0,0,0,.1);

    --form-el-dis-color: #888888;
}

h1, h2, h3, h4, h5, h6, label {
    font-weight: normal;
}

.shaded, .rounded {
    border:solid 1px var(--border-color);
}

.shaded {
    box-shadow: 5px 5px 10px #384858;
}

.bg {
    background: #9bb7ce;
}

pre, code {
    background-color: #617380;
    color: #bbcedd;
}
blockquote {
    color: #888;
}
hr {
    border-color:#617380;
}

a {
    font-weight: bold;
}
.CodeMirror {
    border: solid 1px var(--border-color) !important;
}

.micro-widgets-modal-content {
    box-shadow: 5px 5px 10px #384858;
}

input[type=button], input[type=submit], input[type=reset], button, .button {
    padding-left: 25px;
    padding-right: 25px;
}

input:not([type=button]):not([type=submit]):not([type=reset]):not([type=radio]):not([type=checkbox]),
select, textarea, .strip>label {
    padding-left: 15px;
    padding-right: 15px;
}

.strip>label {
    color: #9bb7ce;
}

.strip>label.description {
    min-width: 7rem;
}

.strip>label.description-7 {
    min-width: 9rem;
}

.micro-widgets-tree li.tree-item {
    padding-left: .67rem;
}
.micro-widgets-tree a.tree-item-label {
    background-image: none;
}
.micro-widgets-tree li.tree-expanded>ul.tree-item-children>li.tree-item, 
.micro-widgets-tree>ul.tree-item-children>li.tree-item>ul.tree-item-children li.tree-expanded {
    background-image: none;
}
.micro-widgets-tree li.tree-expanded>ul.tree-item-children>li.tree-item:last-child, 
.micro-widgets-tree>ul.tree-item-children>li.tree-item>ul.tree-item-children li.tree-expanded:last-child {
    background-image: none;
}

