/* 
 * Basic colors;
 *
 * #1ed1ff
 * #92d638
 * #f6679f
 * #d739cf
 * #f93440
 */
:root {
    --font-family: 'Comic Sans MS';
    --font-size: 18px;
    --color: #d739cf;
    --background: linear-gradient(#1ed1ff, #92d638);
    --form-el-bg: #1ed1ff;
    --form-el-active-bg: #92d638;
    --form-el-color: #555;
    --form-el-dis-bg: #d739cf;
    --button-color: #1ed1ff;
    --button-bg: linear-gradient(#f6679f, #1ed1ff);
    --button-toggled-bg: linear-gradient(#1ed1ff, #f6679f);
    --border-color: rgba(0,0,0,.2);
    --border-radius: 1rem;
    --anchor-color: #f6679f;
    --anchor-hover-color: #92d638;
    --anchor-active-color: #92d638;
    --form-el-dis-color: #66667c;
    --form-el-pad: .5rem;
    --placeholder-color: #aaa;

    --shadow-color: #f6679f;
    --success-bg: linear-gradient(#efe,#5f5);
    --warning-bg: linear-gradient(#fee,#f55);
    --max-viewport-width: 1420px;
    --table-striped-bg: rgba(0,0,0,.1);
    --table-selected-bg: rgba(0,0,0,.2);
    --table-hover-bg: rgba(0,0,0,.5);
}


pre, code {
    color: #eed968;
    background: #c6773f;
}
code {
    border-radius: 2px;
}

input:not([type=radio]):not([type=checkbox]),
select, textarea, button {
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Comic Sans MS';
}

.strip>label {
    color: #1ed1ff;
}
.strip>label.description {
    min-width: 7rem;
}
.strip>label.description-7 {
    min-width: 9rem;
}

.micro-widgets-modal-content {
    background: linear-gradient(#1ed1ff, #92d638);
    box-shadow: 0 0 10px #92d638;
}

.shaded {
    box-shadow: 0 0 10px #f6679f;
}

.bg {
    background: linear-gradient(#1ed1ff, #92d638);
}

.micro-widgets-tab-buttons button {
    color: #555555;
}

.micro-widgets-tree li.tree-item {
}
.micro-widgets-tree a.tree-item-label {
    background-image: none;
}
.micro-widgets-tree li.tree-expanded>ul.tree-item-children>li.tree-item, 
.micro-widgets-tree>ul.tree-item-children>li.tree-item>ul.tree-item-children li.tree-expanded {
    background-image: none;
}
.micro-widgets-tree li.tree-expanded>ul.tree-item-children>li.tree-item:last-child, 
.micro-widgets-tree>ul.tree-item-children>li.tree-item>ul.tree-item-children li.tree-expanded:last-child {
    background-image: none;
}
