/* Setting color scheme for our skin */
:root {
    --font-family: 'Verdana';
    --font-size: 14px;
    --color: #c1b6c6;
    --background: #364251;
    --form-element-color: #364251;
    --form-element-background-color: #c1b6c6;
    --form-element-active-background: #d1c6d6;
    --form-element-disabled-background-color: #7e7cbe;
    --button-color: #364251;
    --button-toggled-background: linear-gradient(#7e7c8e, #c1b6c6);
    --button-background: linear-gradient(#c1b6c6, #7e7c8e);
    --border-color: #66667c;
    --border-radius: 2px;
    --anchor-color: #99f;
    --anchor-hover-color: #ccf;
    --anchor-active-color: #77e;
    --form-element-disabled-color: #66667c;
    --form-element-padding: .5rem;
    --placeholder-color: #ccc;
    --shadow-color: #515060;
    --success-background: linear-gradient(#efe,#afa);
    --warning-background: linear-gradient(#fee,#fcc);
    --max-viewport-width: 1120px;
    --table-striped-background: #515060;
    --table-selected-background: #7e7c8e;
    --table-hover-background: #66667c;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: Helvetica;
    font-weight: normal;
}
pre, code {
    color: #777;
    background: #c0c0c0;
}
code {
    color: #777;
    border-radius: var(--border-radius);
}

input:not([type=radio]):not([type=checkbox]),
select, textarea, button {
    padding-left: 18px;
    padding-right: 18px;
}

/* Adding borders to "shaded" class */
.shaded {
    border:solid 1px var(--border-color);
}

.bg {
    background: linear-gradient(#66667c, #515060);
}
