/* Setting color scheme for our skin */
/*
 * Basic color scheme;
 *
 * #004332
 * #18a779
 * #48872f
 * #90bc42
 * #afd377
 */
:root {
    --font-family: 'Helvetica';
    --font-size: 14px;
    --background: linear-gradient(#afd377, #7FB255);
    --color: #004232;
    --form-el-color: #004232;
    --form-el-bg: #afd377;
    --form-el-active-bg: #c4d1ad;
    --form-el-dis-bg: #48872f;
    --button-color: #acc18a;
    --button-bg: linear-gradient(#48872f, #004232);
    --button-toggled-bg: linear-gradient(#004232, #48872f);
    --border-color: rgba(0,0,0,.5);
    --border-radius: .75rem;

    --anchor-color: #355828;
    --anchor-hover-color: #0b281f;
    --anchor-active-color: #174f3d;
    --form-el-pad: .5rem;
    --placeholder-color: #18a779;
    --shadow-color: #48872f;
    --success-bg: linear-gradient(#efe,#afa);
    --warning-bg: linear-gradient(#fee,#fcc);
    --table-striped-bg: rgba(0,0,0,.05);
    --table-selected-bg: rgba(0,0,0,.1);
    --table-hover-bg: rgba(0,0,0,.1);

    --form-el-dis-color: #48872f;
    --code-bg: #e0ffe0;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: Helvetica;
    font-weight: normal;
}


/* Adding borders to "shaded" class */
.shaded {
    border:solid 1px var(--border-color);
    box-shadow: 0px 0px 5px #004232;
}

.bg {
    background: linear-gradient(#afd377, #567128);
    background-size: 300%;
}
pre, code {
    background-color: #18a779;
    color: #004232;
}
hr {
    border-color:#48872f;
}


.micro-widgets-modal-content {
    background: linear-gradient(#afd377, #567128);
    background-size: 300%;
    border-radius: .75rem;
    box-shadow: 0px 0px 5px #fefe55;
}

input:not([type=radio]):not([type=checkbox]),
select, textarea, button, .button {
    padding-left: 22px;
    padding-right: 22px;
}
button, input[type=button], input[type=submit], input[type=reset], .button {
    background-position: 0 -1px;
}

span[class*="icon-"] {
    font-size: .8rem;
}

.strip>label {
    color: #90bc42;
    padding-left: 22px;
    padding-right: 22px;
}
.strip>label.description {
    min-width: 7rem;
}

