

/* Purple haze skin, uses purple as base color, and Zilla Slab font from Google */

@font-face {font-family: 'Zilla Slab';font-style: normal;font-weight: 400;src: local('Zilla Slab'), local('ZillaSlab-Regular'), url(https://fonts.gstatic.com/s/zillaslab/v1/Rqj61QmcYU88jfBZybBYtQsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;}
@font-face {font-family: 'Zilla Slab';font-style: normal;font-weight: 400;src: local('Zilla Slab'), local('ZillaSlab-Regular'), url(https://fonts.gstatic.com/s/zillaslab/v1/pQTSOfVcqKWtc7NVLbIJ7AzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;}

body {
    font-family: 'Roboto';
    font-size: .95rem;
    --txt-col: #777;
    --placeholder-col: rgba(0,0,0,.3);
    --wid-dark-col: #fefefe;
    --wid-darker-col: #fff0ff;
    --wid-border-col: #e9e;
    --wid-light-col: #ffffff;
    --wid-lighter-col: #fffaff;
    --wid-txt-col: #909090;
    --form-txt-col: #707070;
    --border-radius: 9px;
    --border-width: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:300;
}

pre {
    border-left: var(--border-radius) solid #eaaaea;
}

blockquote {
    margin-left: .2rem;
}

ul, ol {
    margin-left: 1.5rem;
}

table th {
    background:none;
}

table tr:hover td {
    background: none;
}

label {
    line-height: 1.5rem;
}

a {
    color:#aaf;
}

button, input, select, .strip label, strip span {
    height: 36px;
    line-height: 1.1rem;
}

.strip label {
    color:#707070;
}

.strip span {
    padding:4px 15px 4px 15px;
}

nav {
    background:var(--wid-lighter-col);
    min-height:63px;
}

nav>ul>li>a {
    color:var(--form-txt-col);
}

nav a {
    padding:1.1rem 1.1rem 1.1rem 25px;
}

nav a:hover, nav a:active, nav a:focus {
    background:var(--wid-light-col);
}

nav ul li ul{
    background:linear-gradient(#feeefe, #f9e9f9);
}

/* Form elements */
button {
    font-size:.9rem;
    padding:8px 5px 7px 5px;
}

input[type=checkbox]:checked:after, input[type=radio]:checked:after {
    left: 1px;
    font-size: 18px;
}

@media screen and (min-width:800px) {
    button {
        padding: 9px 15px 8px 15px;
    }
}

input, select, textarea {
    transition:background-color .2s, box-shadow .2s;
}

input[type=checkbox], input[type=radio] {
    padding: 9px 9px 10px 9px;
}

input[type=checkbox]:checked:after {
    margin: 2px 2px;
    color: var(--txt-col);
}

input[type=radio]:checked:after {
    margin: 3px 3px;
}

input[type=radio]:checked:after {
    width: 13px;
    height: 13px;
    background: var(--txt-col);
    top:1px;
}

/* Misc. classes */
.success {
    background: linear-gradient(#efe, #dfd);
}

.warning {
    background: linear-gradient(#fee, #fdd);
}

.emphasized {
    background: linear-gradient(#fcfcff, #f5f5ff);
}

.gray {
    background: linear-gradient(#fafafa, #f2f2f2);
}

/* Extension widgets */
.micro-modal .micro-modal-content,
.micro-tab-border .micro-tab-views {
    background: linear-gradient(#fef7fe, #faf5fa);
}

.micro-tab-border .micro-tab-buttons {
    padding-left:7px;
}

.micro-tab-border .micro-tab-views {
    padding:2rem 2rem 1rem 2rem;
    border-radius:5px;
}

.bg {
    /* Copyright(c) Steve Schoger, licenseed as CC BY-SA 4.0*/
    background-color: #ffefff;
    background-image: url('purple-haze/church-on-sunday.svg');
}

