/* Extension widgets for Micro */

/* Micro modal widget */
.micro-modal{display:block !important;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.7);z-index:1000;animation-name:micro-modal;animation-duration:.5s;animation-fill-mode:forwards;animation-iteration-count:1;animation-timing-function:ease-out;}
.micro-modal .micro-modal-content{width:90%;margin-left:auto;margin-right:auto;background:#fff;border-radius:5px;padding:1rem 2rem 0 2rem;animation-name:micro-modal-content;animation-duration:.5s;animation-fill-mode:forwards;animation-iteration-count:1;animation-timing-function:ease-out;}
@media screen and (min-width:800px){.micro-modal .micro-modal-content{width:800px;}}
@keyframes micro-modal{from{opacity:.1;}to{opacity:1;}}
@keyframes micro-modal-content{from{margin-top:-1000px;opacity:.1;}to{margin-top:2rem;opacity:1;}}

/* Micro tab widget */
.micro-tab .micro-tab-buttons button{margin-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0;border-bottom:none;}
.micro-tab-active{background:var(--hover-color)}
.micro-tab .micro-tab-views{border-top:solid 1px var(--txt-color);padding-top:1rem;}
.micro-tab-border .micro-tab-views{border:solid 1px var(--txt-color);border-radius:0 5px 0 0;padding:1rem 1rem 0 1rem;}

/* Navbar */
nav{
    background:var(--txt-color);
    color:var(--inverted-color);
    font-size:1.5rem;
}
nav:after {
    content:'';
    display:table;
    clear:both;
}
nav ul{
    list-style-type:none;
    margin:0;
}
nav ul li{
    float:left;
    display:block;
    position:relative;
}
nav ul li a{
    padding:1rem 1rem 1rem 25px;
    display:block;
    color:inherit;
    white-space:nowrap;
}
nav ul li a:focus,nav ul li a:active{
    color:inherit;
    background:inherit;
}
nav ul li a:hover{
    color:inherit;
    background:var(--hover-color);
}
nav ul li ul{
    background:var(--txt-color);
    position:absolute;
    z-index:1;
    display:none;
    box-shadow:0 8px 16px 0px rgba(0,0,0,0.5);
    min-width:200px;
}
nav ul li:hover>ul{
    display:block;
}
nav>ul>li>ul>li>ul{
    left:100%;
    top:0;
    margin-left:-5px;
}
nav ul li>ul li{
    width:100%;
}
nav ul li>ul hr{
    width:80%;
    border:solid 1px rgba(0,0,0,.1);
    margin:0 auto;
}
