@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?36yrvs');
    src: url('fonts/icomoon.eot?36yrvs#iefix') format('embedded-opentype'),url('fonts/icomoon.ttf?36yrvs') format('truetype'),url('fonts/icomoon.woff?36yrvs') format('woff'),url('fonts/icomoon.svg?36yrvs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane:before {
    content: ""
}

.icon-send:before {
    content: ""
}

.icon-bolt:before {
    content: ""
}

.icon-flash:before {
    content: ""
}

.icon-home3:before {
    content: ""
}

.icon-pencil:before {
    content: ""
}

.icon-eyedropper:before {
    content: ""
}

.icon-droplet:before {
    content: ""
}

.icon-image:before {
    content: ""
}

.icon-images:before {
    content: ""
}

.icon-camera:before {
    content: ""
}

.icon-headphones:before {
    content: ""
}

.icon-music:before {
    content: ""
}

.icon-play:before {
    content: ""
}

.icon-film:before {
    content: ""
}

.icon-video-camera:before {
    content: ""
}

.icon-dice:before {
    content: ""
}

.icon-bullhorn:before {
    content: ""
}

.icon-connection:before {
    content: ""
}

.icon-mic:before {
    content: ""
}

.icon-book:before {
    content: ""
}

.icon-books:before {
    content: ""
}

.icon-file-empty:before {
    content: ""
}

.icon-files-empty:before {
    content: ""
}

.icon-file-text2:before {
    content: ""
}

.icon-file-picture:before {
    content: ""
}

.icon-file-music:before {
    content: ""
}

.icon-file-play:before {
    content: ""
}

.icon-file-video:before {
    content: ""
}

.icon-file-zip:before {
    content: ""
}

.icon-folder:before {
    content: ""
}

.icon-folder-open:before {
    content: ""
}

.icon-barcode:before {
    content: ""
}

.icon-qrcode:before {
    content: ""
}

.icon-cart:before {
    content: ""
}

.icon-credit-card:before {
    content: ""
}

.icon-lifebuoy:before {
    content: ""
}

.icon-phone:before {
    content: ""
}

.icon-envelop:before {
    content: ""
}

.icon-pushpin:before {
    content: ""
}

.icon-compass:before {
    content: ""
}

.icon-alarm:before {
    content: ""
}

.icon-printer:before {
    content: ""
}

.icon-keyboard:before {
    content: ""
}

.icon-floppy-disk:before {
    content: ""
}

.icon-undo:before {
    content: ""
}

.icon-redo:before {
    content: ""
}

.icon-undo2:before {
    content: ""
}

.icon-redo2:before {
    content: ""
}

.icon-forward:before {
    content: ""
}

.icon-reply:before {
    content: ""
}

.icon-bubble:before {
    content: ""
}

.icon-bubbles:before {
    content: ""
}

.icon-bubbles2:before {
    content: ""
}

.icon-user:before {
    content: ""
}

.icon-users:before {
    content: ""
}

.icon-user-plus:before {
    content: ""
}

.icon-user-minus:before {
    content: ""
}

.icon-user-check:before {
    content: ""
}

.icon-user-tie:before {
    content: ""
}

.icon-spinner11:before {
    content: ""
}

.icon-binoculars:before {
    content: ""
}

.icon-search:before {
    content: ""
}

.icon-zoom-in:before {
    content: ""
}

.icon-zoom-out:before {
    content: ""
}

.icon-enlarge:before {
    content: ""
}

.icon-shrink:before {
    content: ""
}

.icon-enlarge2:before {
    content: ""
}

.icon-shrink2:before {
    content: ""
}

.icon-key:before {
    content: ""
}

.icon-lock:before {
    content: ""
}

.icon-unlocked:before {
    content: ""
}

.icon-wrench:before {
    content: ""
}

.icon-cog:before {
    content: ""
}

.icon-cogs:before {
    content: ""
}

.icon-magic-wand:before {
    content: ""
}

.icon-aid-kit:before {
    content: ""
}

.icon-bug:before {
    content: ""
}

.icon-pie-chart:before {
    content: ""
}

.icon-stats-dots:before {
    content: ""
}

.icon-stats-bars:before {
    content: ""
}

.icon-stats-bars2:before {
    content: ""
}

.icon-gift:before {
    content: ""
}

.icon-leaf:before {
    content: ""
}

.icon-rocket:before {
    content: ""
}

.icon-bin:before {
    content: ""
}

.icon-briefcase:before {
    content: ""
}

.icon-airplane:before {
    content: ""
}

.icon-truck:before {
    content: ""
}

.icon-power:before {
    content: ""
}

.icon-switch:before {
    content: ""
}

.icon-power-cord:before {
    content: ""
}

.icon-clipboard:before {
    content: ""
}

.icon-list-numbered:before {
    content: ""
}

.icon-list:before {
    content: ""
}

.icon-tree:before {
    content: ""
}

.icon-cloud-download:before {
    content: ""
}

.icon-cloud-upload:before {
    content: ""
}

.icon-download2:before {
    content: ""
}

.icon-upload2:before {
    content: ""
}

.icon-download3:before {
    content: ""
}

.icon-upload3:before {
    content: ""
}

.icon-sphere:before {
    content: ""
}

.icon-earth:before {
    content: ""
}

.icon-link:before {
    content: ""
}

.icon-flag:before {
    content: ""
}

.icon-attachment:before {
    content: ""
}

.icon-eye:before {
    content: ""
}

.icon-eye-plus:before {
    content: ""
}

.icon-eye-minus:before {
    content: ""
}

.icon-eye-blocked:before {
    content: ""
}

.icon-bookmark:before {
    content: ""
}

.icon-bookmarks:before {
    content: ""
}

.icon-star-empty:before {
    content: ""
}

.icon-star-full:before {
    content: ""
}

.icon-heart:before {
    content: ""
}

.icon-man:before {
    content: ""
}

.icon-woman:before {
    content: ""
}

.icon-man-woman:before {
    content: ""
}

.icon-happy:before {
    content: ""
}

.icon-smile:before {
    content: ""
}

.icon-tongue:before {
    content: ""
}

.icon-sad:before {
    content: ""
}

.icon-wink:before {
    content: ""
}

.icon-grin:before {
    content: ""
}

.icon-cool:before {
    content: ""
}

.icon-angry:before {
    content: ""
}

.icon-evil:before {
    content: ""
}

.icon-shocked:before {
    content: ""
}

.icon-baffled:before {
    content: ""
}

.icon-confused:before {
    content: ""
}

.icon-neutral:before {
    content: ""
}

.icon-wondering:before {
    content: ""
}

.icon-sleepy:before {
    content: ""
}

.icon-frustrated:before {
    content: ""
}

.icon-crying:before {
    content: ""
}

.icon-notification:before {
    content: ""
}

.icon-question:before {
    content: ""
}

.icon-plus:before {
    content: ""
}

.icon-minus:before {
    content: ""
}

.icon-info:before {
    content: ""
}

.icon-cancel-circle:before {
    content: ""
}

.icon-blocked:before {
    content: ""
}

.icon-cross:before {
    content: ""
}

.icon-checkmark:before {
    content: ""
}

.icon-exit:before {
    content: ""
}

.icon-play3:before {
    content: ""
}

.icon-pause2:before {
    content: ""
}

.icon-stop2:before {
    content: ""
}

.icon-backward2:before {
    content: ""
}

.icon-forward3:before {
    content: ""
}

.icon-first:before {
    content: ""
}

.icon-last:before {
    content: ""
}

.icon-previous2:before {
    content: ""
}

.icon-next2:before {
    content: ""
}

.icon-eject:before {
    content: ""
}

.icon-volume-high:before {
    content: ""
}

.icon-volume-medium:before {
    content: ""
}

.icon-volume-low:before {
    content: ""
}

.icon-volume-mute:before {
    content: ""
}

.icon-volume-mute2:before {
    content: ""
}

.icon-volume-increase:before {
    content: ""
}

.icon-volume-decrease:before {
    content: ""
}

.icon-loop2:before {
    content: ""
}

.icon-infinite:before {
    content: ""
}

.icon-shuffle:before {
    content: ""
}

.icon-arrow-up-left:before {
    content: ""
}

.icon-arrow-up:before {
    content: ""
}

.icon-arrow-up-right:before {
    content: ""
}

.icon-arrow-right:before {
    content: ""
}

.icon-arrow-down-right:before {
    content: ""
}

.icon-arrow-down:before {
    content: ""
}

.icon-arrow-down-left:before {
    content: ""
}

.icon-arrow-left:before {
    content: ""
}

.icon-circle-up:before {
    content: ""
}

.icon-circle-right:before {
    content: ""
}

.icon-circle-down:before {
    content: ""
}

.icon-circle-left:before {
    content: ""
}

.icon-sort-alpha-asc:before {
    content: ""
}

.icon-sort-alpha-desc:before {
    content: ""
}

.icon-scissors:before {
    content: ""
}

.icon-filter:before {
    content: ""
}

.icon-omega:before {
    content: ""
}

.icon-sigma:before {
    content: ""
}

.icon-superscript:before {
    content: ""
}

.icon-subscript:before {
    content: ""
}

.icon-table:before {
    content: ""
}

.icon-table2:before {
    content: ""
}

.icon-paragraph-left:before {
    content: ""
}

.icon-paragraph-center:before {
    content: ""
}

.icon-paragraph-right:before {
    content: ""
}

.icon-paragraph-justify:before {
    content: ""
}

.icon-indent-increase:before {
    content: ""
}

.icon-indent-decrease:before {
    content: ""
}

.icon-share:before {
    content: ""
}

.icon-terminal:before {
    content: ""
}

.icon-share2:before {
    content: ""
}

.icon-mail2:before {
    content: ""
}

.icon-mail3:before {
    content: ""
}

.icon-telegram:before {
    content: ""
}

.icon-paypal:before {
    content: ""
}

.icon-file-pdf:before {
    content: ""
}