label,label span {
    vertical-align: top
}

div.fill>label,nav a {
    white-space: nowrap
}

a:active,a:hover,button,nav a {
    outline: 0
}

hr,input[type=search] {
    box-sizing: content-box
}

*,body {
    margin: 0
}

img,legend {
    border: 0
}

*,legend,td,th {
    padding: 0
}

.left,table th {
    text-align: left
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    --txt-col: #787f98;
    --placeholder-col: #d0d0d0;
    --wid-dark-col: #77aadd;
    --wid-darker-col: #5588bb;
    --wid-darker-col-invert: #4477aa;
    --wid-border-col: #aaccff;
    --wid-light-col: #fcfcfc;
    --wid-lighter-col: #ffffff;
    --wid-txt-col: #fefefe;
    --form-txt-col: #787f98;
    --border-radius: 5px;
    --border-width: 1px;
    height: 100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent;
    text-decoration: none;
    color: var(--wid-dark-col)
}

abbr[title] {
    border-bottom: 1px dotted
}

b,optgroup,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

h1 small,h2 small,h3 small,h4 small {
    font-size: 50%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

pre,textarea {
    overflow: auto
}

.strip,button {
    overflow: visible
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

blockquote,h1 {
    line-height: 1.25
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    padding: .35em .625em .75em
}

button,pre {
    border-radius: var(--border-radius)
}

*,:after,:before {
    box-sizing: inherit
}

body {
    min-height: 100%;
    background-color: #fff;
    font-size: 1.2rem;
    font-size-adjust: .5;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: var(--txt-col)
}

.container,.container-fullscreen {
    padding: 1rem 1rem 1rem 0;
    overflow: visible;
    position: relative
}

.container {
    margin: 0 auto;
    max-width: 1120px
}

.container-fullscreen {
    width: 100%
}

.row {
    display: flex;
    flex-wrap: wrap
}

.row .row {
    margin-left: -1rem
}

blockquote,button,caption,fieldset,h1,h2,h3,h4,h5,h6,hr,input,label,legend,ol,p,pre,select,table,textarea,ul {
    margin: 0 0 1rem
}

.col,.col-10,.col-100,.col-20,.col-25,.col-30,.col-33,.col-40,.col-50,.col-60,.col-67,.col-70,.col-75,.col-80,.col-90 {
    flex: 100%;
    padding: 0 0 0 1rem;
    max-width: 100%
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.625em;
    line-height: 1.15384615
}

h3 {
    font-size: 1.375em;
    line-height: 1.13636364
}

h4 {
    font-size: 1.125em;
    line-height: 1.11111111
}

blockquote {
    font-size: 1.25em;
    color: #aaa;
    margin-left: 1rem
}

label {
    user-select: none;
    font-weight: 700;
    margin-right: 1rem
}

pre {
    background: #fafafa;
    padding: 1rem
}

code {
    background: #fafafa
}

code,pre {
    font-family: Consolas,Monaco,monospace
}

pre>code {
    background: inherit
}

a:active,a:focus,a:hover {
    color: var(--wid-darker-col)
}

ol,ul {
    margin-left: 2.5rem
}

hr {
    height: 0;
    border-color: rgba(0,0,0,.1)
}

::-webkit-input-placeholder {
    color: var(--placeholder-col)
}

::-moz-placeholder {
    color: var(--placeholder-col)
}

::-ms-input-placeholder {
    color: var(--placeholder-col)
}

.strip label,button,input,select,strip span {
    height: 42px;
    color: var(--form-txt-col);
    font-weight: 400
}

button {
    border: var(--border-width) solid var(--wid-border-col);
    background: var(--wid-dark-col);
    color: var(--wid-txt-col);
    padding: 7px 15px;
    background-size:1px 76px;
    transition:background-position .25s;
    background-position:-1px -1px;
}

button:active,button:focus,button:hover {
    transition:background-position .25s;
    background-position:-1px -38px;
}

button.toggled {
    background: var(--wid-dark-col-invert);
}

button.toggled:active,button.toggled:focus,button.toggled:hover {
    background: var(--wid-darker-col-invert);
}

input[type=text],input[type=password],input[type=color],input[type=date],input[type=datetime-local],input[type=email],input[type=month],input[type=number],input[type=search],input[type=tel],input[type=time],input[type=url],input[type=week],input[type=date],input[type=checkbox],input[type=radio],select,textarea {
    border-radius: var(--border-radius);
    width: 250px;
    border: var(--border-width)solid var(--wid-border-col);
    padding: 7px 15px;
    outline: 0;
    background: var(--wid-light-col);
    color: var(--form-txt-col);
    transition:box-shadow .25s;
}

input:active,input:focus,input:hover,select:active,select:focus,select:hover,textarea:active,textarea:focus,textarea:hover {
    background: var(--wid-lighter-col)
}

input[type=checkbox],input[type=radio],select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=checkbox],input[type=radio] {
    position: relative;
    height: 24px;
    width: 24px;
    margin-right: .5rem
}

input[type=checkbox]:checked:after,input[type=radio]:checked:after {
    position: absolute;
    left: 3px;
    top: 0;
    color: var(--form-txt-col);
    display: block;
    font-size: 20px
}

input[type=checkbox]:checked:after {
    content: '✔'
}

input[type=radio] {
    border-radius: 15px
}

input[type=radio]:checked:after {
    content: ' ';
    width: 16px;
    height: 16px;
    border-radius: 15px;
    background: var(--form-txt-col);
    margin: 3px 0
}

.strip button,.strip input,.strip select {
    border-radius: 0;
    border-left-style: none;
    float: left
}

.strip>label,.strip>span {
    border-radius: 0;
    border: var(--border-width)solid var(--wid-border-col);
    border-left-style: none;
    background: var(--wid-dark-col);
    background-size:1px 76px;
    background-position:-1px -1px;
    color: var(--wid-light-col);
    padding: 8px 15px;
    margin-bottom: 1rem;
    float: left;
    margin-right: 0
}

.strip>:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-top-left-radius: var(--border-radius) !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: var(--border-radius) !important;
    border-left-width: var(--border-width);
    border-left-style: solid
}

.strip>:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
    border-bottom-left-radius: 0
}
.strip>label:first-child {
    min-width: 100px
}
.strip span input[type=checkbox],.strip span input[type=radio] {
    margin: 0;
    border-left-style: solid;
    border-radius: var(--border-radius)
}

.strip span input[type=radio] {
    border-radius: 15px
}

.emphasized,.rounded,.success,.warning {
    border-radius: var(--border-radius)
}

.wider {
    width: 100%
}

.smaller {
    width: 120px
}

.fill {
    display: table-cell;
    width: 100% !important;
}

div.fill {
    display: flex
}

div.fill>input[type=color],div.fill>input[type=date],div.fill>input[type=datetime-local],div.fill>input[type=datetime],div.fill>input[type=number],div.fill>input[type=password],div.fill>input[type=search],div.fill>input[type=text],div.fill>select {
    margin-right: 0 !important;
    width: 100%
}

label {
    display: inline-block
}

label.input-label {
    min-width: 180px
}

label input {
    margin-bottom: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

table td,table th {
    padding: .2rem 1rem .2rem 0
}

table td:last-child,table th:last-child {
    padding: .3rem 0
}

table tbody tr td {
    border-top: solid 1px var(--wid-border-col)
}

table tbody tr:first-child td {
    border-top-style: none
}

table.striped tr:nth-child(2n) td {
    background-color: rgba(0,0,0,.01)
}

table tr td.selected,table tr.selected,table.hover tr:hover td,table.striped tr td.selected,table.striped tr.selected {
    background-color: rgba(0,0,0,.1)
}

table.hover tr.no-hover:hover td {
    background-color: inherit
}

table.striped tr.no-hover:hover:nth-child(2n) td {
    background-color: rgba(0,0,0,.01)
}

table.spaced td,table.spaced th {
    padding: .5rem
}

table.spaced tr td:last-child,table.spaced tr th:last-child {
    padding-right: 0
}

table.spaced tr td:first-child,table.spaced tr th:first-child {
    padding-left: 0
}

table.lg-headers th {
    font-size: 1.2rem
}

table.hover tbody tr {
    cursor: pointer
}

@media screen and (min-width:800px) {
    h2,h3 {
        line-height: 1.25
    }

    .col {
        flex: 1
    }

    .col-10 {
        flex: 10%;
        max-width: 10%
    }

    .col-20 {
        flex: 20%;
        max-width: 20%
    }

    .col-25 {
        flex: 25%;
        max-width: 25%
    }

    .col-30 {
        flex: 30%;
        max-width: 30%
    }

    .col-33 {
        flex: 33%;
        max-width: 33%
    }

    .col-40 {
        flex: 40%;
        max-width: 40%
    }

    .col-50 {
        flex: 50%;
        max-width: 50%
    }

    .col-60 {
        flex: 60%;
        max-width: 60%
    }

    .col-67 {
        flex: 67%;
        max-width: 67%
    }

    .col-70 {
        flex: 70%;
        max-width: 70%
    }

    .col-75 {
        flex: 75%;
        max-width: 75%
    }

    .col-80 {
        flex: 80%;
        max-width: 80%
    }

    .col-90 {
        flex: 90%;
        max-width: 90%
    }

    .col-100 {
        flex: 100%;
        max-width: 100%
    }

    .offset-10 {
        margin-left: 10%
    }

    .offset-20 {
        margin-left: 20%
    }

    .offset-25 {
        margin-left: 25%
    }

    .offset-30 {
        margin-left: 30%
    }

    .offset-33 {
        margin-left: 33%
    }

    .offset-40 {
        margin-left: 40%
    }

    .offset-50 {
        margin-left: 50%
    }

    .offset-60 {
        margin-left: 60%
    }

    .offset-67 {
        margin-left: 67%
    }

    .offset-70 {
        margin-left: 70%
    }

    .offset-75 {
        margin-left: 75%
    }

    .offset-80 {
        margin-left: 80%
    }

    .offset-90 {
        margin-left: 90%
    }

    h1 {
        font-size: 3em;
        line-height: 1.05
    }

    h2 {
        font-size: 2.25em
    }

    h3 {
        font-size: 1.75em
    }

    h4 {
        line-height: 1.22222222
    }

    blockquote {
        font-size: 1.5em;
        line-height: 1.45833333
    }

    input,select,textarea {
        width: 350px
    }

    .wider {
        width: 550px
    }

    .smaller {
        width: 200px
    }

    button {
        padding: 7px 15px
    }
}

button[disabled],button[disabled].toggled {
    color: var(--placeholder-col);
    cursor: not-allowed;
    background-size:1px 76px;
}
button[disabled]:hover,button[disabled]:hover.toggled {
    background-position:inherit;
}

button[disabled].toggled {
}

input[disabled],input[readonly],select[disabled],textarea[disabled] {
    background: var(--wid-darker-col) !important;
    cursor: not-allowed !important
}

.air {
    margin: 1rem
}

.air-right,.air-top {
    margin-top: 1rem
}

.air-bottom {
    margin-bottom: 1rem
}

.air-left {
    margin-left: 1rem
}

.air-inner {
    padding: 1rem !important;
    overflow: auto
}

.no-air {
    margin: 0
}

.emphasized,.rounded,.shaded,.success,.warning {
    margin-bottom: 1rem
}

.success {
    background: #cfc
}

.warning {
    background: #fcc
}

.emphasized {
    background: #fafafe
}

.bg {
    background: #fafafa
}

.center {
    text-align: center
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.justify {
    text-align: justify
}

.shaded {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    overflow: visible
}

.error .strip>label:first-child,.error input,.error select,.error textarea,input.error,select.error,textarea.error {
    box-shadow: 0 0 2px rgba(255,0,0,1) !important
}

.capitalize {
    text-transform: capitalize
}

.hide {
    display: none !important
}

.micro-license-watermark {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #fefefe;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    padding: 1rem;
    font-size: .8rem;
    z-index: 10000
}

.micro-modal,.micro-modal .micro-modal-content {
    animation-duration: .5s;
    animation-fill-mode: forwards
}

@keyframes micro-fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes micro-drop {
    from {
        margin-top: -500px;
        opacity: .1
    }

    to {
        margin-top: 2rem;
        opacity: 1
    }
}

@keyframes micro-windows-info {
    0%,100% {
        margin-top: -200px;
        opacity: 0
    }

    10%,90% {
        margin-top: 0;
        opacity: 1
    }
}

@keyframes micro-windows-info-sticky {
    0% {
        margin-top: -200px;
        opacity: 0
    }

    100% {
        margin-top: 0;
        opacity: 1
    }
}

@keyframes micro-ajax-wait-dominos {
    50% {
        opacity: .7
    }

    75% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    80% {
        opacity: 1
    }
}

@keyframes micro-ajax-wait {
    0% {
        opacity: 0
    }

    100% {
        opacity: .7
    }
}

.micro-ajax-wait {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: micro-ajax-wait;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    background-color: #000;
    color: rgba(0,0,0,.7);
    z-index: 5000;
    opacity: 0
}

.micro-ajax-wait-animations {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    top: 15px;
    right: 55px
}

@keyframes micro-ajax-wait-info-flash {
    0% {
        color: #fefefe
    }

    100% {
        color: #b0b0b0
    }
}

.micro-ajax-wait-info {
    margin-top: 4rem;
    text-align: center;
    animation: micro-ajax-wait-info-flash 1.5s ease infinite;
    animation-direction: alternate
}

.micro-ajax-square {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 7px;
    background: #fff;
    box-shadow: 2px 2px 3px 0 #000
}

.micro-ajax-square-1 {
    left: 70px;
    animation: micro-ajax-wait-dominos 1s 125ms ease infinite
}

.micro-ajax-square-2 {
    left: 60px;
    animation: micro-ajax-wait-dominos 1s .3s ease infinite
}

.micro-ajax-square-3 {
    left: 50px;
    animation: micro-ajax-wait-dominos 1s 425ms ease infinite
}

.micro-ajax-square-4 {
    left: 40px;
    animation: micro-ajax-wait-dominos 1s 540ms ease infinite
}

.micro-ajax-square-5 {
    left: 30px;
    animation: micro-ajax-wait-dominos 1s 665ms ease infinite
}

.micro-ajax-square-6 {
    left: 20px;
    animation: micro-ajax-wait-dominos 1s .79s ease infinite
}

.micro-ajax-square-7 {
    left: 10px;
    animation: micro-ajax-wait-dominos 1s .9s ease infinite
}

.micro-ajax-square-8 {
    left: 0;
    animation: micro-ajax-wait-dominos 1s 1s ease infinite
}

.micro-dropzone-drop,.micro-dropzone-hover {
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse
}

.micro-modal {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 1000;
    animation-name: micro-fade;
    overflow-y: auto
}

.micro-modal .micro-modal-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    overflow: auto;
    animation-name: micro-drop;
    position: relative;
    margin-bottom: 2rem
}

.micro-modal-smaller .micro-modal-content {
    max-width: 600px
}

.micro-modal-small .micro-modal-content {
    max-width: 400px
}

@media screen and (min-width:800px) {
    .micro-modal .micro-modal-content {
        width: 800px
    }
}

.micro-tab .micro-tab-buttons button {
    display: none
}

.micro-tab .micro-tab-display-buttons button {
    display: list-item;
    width: 150px;
    margin-right: 15px
}

.micro-tab .micro-tab-buttons button.micro-tab-hamburger {
    display: inline-block;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    margin-right: 5px;
    width: auto;
    float: none
}

.micro-tab-active {
    background: var(--wid-darker-col)
}

.micro-tab .micro-tab-views {
    border-top: solid var(--border-width) var(--wid-border-col);
    padding-top: 1rem
}

.micro-tab-border .micro-tab-views {
    border: var(--border-width) solid var(--wid-border-col);
    border-radius: 0 var(--border-radius) 0 0;
    padding: 1rem
}

nav {
    font-size: 1.5rem;
    min-height: 61px;
    margin: -1rem -1rem 0 0
}

nav:after {
    content: '';
    display: table;
    clear: both
}

nav ul li ul,nav>ul {
    display: none
}

nav,nav ul li ul {
    background: var(--wid-dark-col)
}

nav a {
    color: var(--wid-light-col);
    padding: 1rem 1rem 1rem 25px;
    display: block
}

nav>a {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 70px;
    text-align: center;
    padding-top: .8rem;
    padding-bottom: 1.2rem
}

nav a:active,nav a:focus,nav a:hover {
    color: var(--wid-light-col);
    background: var(--wid-darker-col)
}

nav ul {
    list-style-type: none;
    margin: 0
}

nav ul li {
    float: left;
    display: block;
    position: relative
}

nav ul li ul {
    position: absolute;
    z-index: 1;
    box-shadow: 3px 3px 8px 0 rgba(0,0,0,.4);
    min-width: 200px
}

nav>ul>li>ul>li>ul {
    left: 100%;
    top: 0;
    margin-left: -5px
}

nav ul li>ul li {
    width: 100%
}

nav ul li>ul hr {
    width: 80%;
    border: var(--border-width)solid rgba(0,0,0,.1);
    margin: 0 auto
}

@media screen and (min-width:800px) {
    .micro-tab .micro-tab-buttons button {
        display: inline-block;
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        margin-right: 5px
    }

    .micro-tab .micro-tab-buttons button.micro-tab-hamburger,nav>a {
        display: none
    }

    nav {
        height: auto
    }

    nav>ul {
        display: block
    }

    nav ul li:hover>ul,nav ul li>ul.expanded {
        display: block;
        animation-name: micro-fade;
        animation-duration: .2s;
        animation-fill-mode: forwards
    }
}

nav.expanded>ul {
    display: block
}

nav.expanded>ul>li:first-child {
    margin-top: 61px
}

nav.expanded>ul li {
    width: 100%
}

nav.expanded>ul li ul {
    display: block;
    position: relative;
    margin-left: 25px
}

nav.expanded>ul>li>ul>li>ul {
    left: 0
}

nav.expanded hr {
    display: none
}

.micro-windows-info {
    position: fixed;
    top: 0;
    right: 0;
    animation-fill-mode: forwards;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem 1.5rem;
    background: var(--wid-dark-col);
    z-index: 1000;
    user-select: none;
    cursor: pointer;
    box-shadow: 3px 3px 2px rgba(0,0,0,.2);
    animation-name: micro-windows-info;
    animation-duration: 5s;
}

.micro-windows-info label {
    margin-bottom: 0;
}

@keyframes micro-dropzone-dragover {
    0% {
        background-color: rgba(255,255,0,0)
    }

    100% {
        background-color: rgba(255,255,0,.5)
    }
}

@keyframes micro-dropzone-dropped {
    0% {
        background-color: rgba(0,255,0,0)
    }

    100% {
        background-color: rgba(0,255,0,.5)
    }
}

.micro-dropzone-hover {
    animation-name: micro-dropzone-dragover;
    animation-duration: .5s
}

.micro-dropzone-drop {
    animation-name: micro-dropzone-dropped;
    animation-duration: .5s
}

.micro-dropzone-error {
    background-color: #f00
}

.micro-star-rater {
    font-size: 2.5em
}

.micro-star-rater a {
    color: #ffd700 !important
}

@media screen and (min-width:600px) {
    .micro-star-rater {
        font-size: 3.5em
    }
}

@media screen and (min-width:800px) {
    .micro-star-rater {
        font-size: 5em
    }
}

.p5-exception {
    z-index: 10000
}

.p5-exception h1 {
    font-size: 1.8rem
}

.p5-exception>div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px
}