.cm-s-phosphorus {
    font-family: monospace;
    background: var(--code-background);
    color: var(--color);
    border-radius: var(--border-radius);
    border: none;
}
.cm-s-phosphorus .CodeMirror-gutters {
    background: var(--code-background);
    border-right: solid 1px rgba(0,0,0,.05);
}
.cm-s-phosphorus .CodeMirror-linenumber {
    color: var(--color);
}
.cm-s-phosphorus span.cm-keyword {
    color: #0000ee;
}
.cm-s-phosphorus span.cm-variable-2 {
    color: #000099;
}
.cm-s-phosphorus span.cm-number {
    color: #007020;
}
.cm-s-phosphorus span.cm-property {
    color: #777;
}
.cm-s-phosphorus span.cm-variable-3, 
.cm-s-phosphorus span.cm-type {
    color: #50aa50;
}
.cm-s-phosphorus span.cm-comment {
    color: #777;
}


.cm-s-phosphorus span.cm-meta {
    color: #FF1717;
}
.cm-s-phosphorus span.cm-atom {
    color: #219;
}
.cm-s-phosphorus span.cm-def {
    color: #00a000;
}
.cm-s-phosphorus span.cm-variable {
    color: #505099;
}
.cm-s-phosphorus span.cm-operator {
    color: black;
}
.cm-s-phosphorus span.cm-string {
    color: #909090;
}
.cm-s-phosphorus span.cm-string-2 {
    color: #f50;
}
.cm-s-phosphorus span.cm-qualifier {
    color: #555;
}
.cm-s-phosphorus span.cm-builtin {
    color: #30a;
}
.cm-s-phosphorus span.cm-bracket {
    color: #f00;
}
.cm-s-phosphorus span.cm-tag {
    color: #170;
}
.cm-s-phosphorus span.cm-attribute {
    color: #00c;
}
.cm-s-phosphorus span.cm-link {
    color: #219;
}
.cm-s-phosphorus span.cm-error {
    color: #000;
    background-color: #ffa0a0;
}

.cm-s-phosphorus .CodeMirror-activeline-background {
    background: rgba(0,0,0,.05);
}
.cm-s-phosphorus .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: black !important;
}

.CodeMirror-hints {
    z-index: 2000 !important;
    background: var(--background);
    color: var(--color);
    font-family: var(--font-family);
}
.CodeMirror-hints li {
    color: var(--color);
}
li.CodeMirror-hint-active {
    background: rgba(0,0,0,.1);
    color: var(--color);
}

.CodeMirror-dialog {
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    padding: var(--form-element-padding);
    vertical-align: bottom;
}
.CodeMirror-dialog-top {
    border-bottom: 1px solid var(--border-color);
    top:0;
}
.CodeMirror-dialog-bottom {
    border-top: 1px solid var(--border-color);
    bottom:0;
}
.cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x
}
